<%- include('../includes/head.ejs') %>
</head>
<body>
    <main>
        <%- include('../includes/nav.ejs') %>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3 class="text-center">Sign In</h3>
                    <% if(errors.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <% errors.forEach((err) => { %>
                                <p><%= err.msg %></p>
                            <%  }); %>
                        </div>
                    <% } %>
                    <form method="POST" class="mt-4" action="/auth/sign-in" novalidate>
                        <div class="form-group row">
                            <label for="id_email" class="col-sm-3 col-form-label">Email: </label>
                            <div class="col-sm-9">
                                <input class="form-control" type="email" id="id_email" name="email" placeholder="Email" value="<%= oldInput.email %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_password" class="col-sm-3 col-form-label">Password: </label>
                            <div class="col-sm-9">
                                <input class="form-control" type="password" id="id_password" name="password" placeholder="Password" value="<%= oldInput.password %>">
                            </div>
                        </div>
                        <button class="btn btn-success float-right" type="submit">Sign In</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <a href="/auth/sign-up">Sign Up</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>